.App {
  box-sizing: border-box;
  position: relative;
}

nav {
  position: fixed;
  top: 25px;
  left: 5px;

  background-color: hotpink;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  border-radius: 7px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: white;
}

a:active {
  text-decoration: underline;
}
ul {
  list-style: none;
  padding: 0 30px;
}

li {
  text-transform: uppercase;
  
  text-decoration: none;
  font-size: 12px;
  margin: 10px 0px;
}

.App-header {
  
position: relative;
top: -70px;
  
  
  border-radius: 10px;
  background-color: #282c34;
  min-height: 5vh;
  text-align: center;
  justify-items: center;
  font-size: 14px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
